In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# A database is a collection of organized data that allows for efficient retrieval and manipulation.

# SQL Databases

# Relational databases that use structured tables with fixed schemas
# Data is stored in tables with rows and columns
# Follows ACID principles (Atomicity, Consistency, Isolation, Durability) for reliable transactions
# Vertically scalable (increase power of hardware)
# Examples: MySQL, PostgreSQL, Microsoft SQL Server, Oracle


# NoSQL Databases

# Non-relational databases that use flexible data structures
# Data is stored in formats like key-value pairs, documents, or graphs
# Dynamic schema that can change as data is inserted
# Horizontally scalable (add more nodes to the cluster)
# May not follow ACID principles
# Examples: MongoDB, Cassandra, Redis, RavenDB

In [3]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
# CREATE, DROP, ALTER, and TRUNCATE

# These are four essential DDL commands:

# CREATE: Used to create a new database object, such as a table, index, or view.
# Example: CREATE TABLE customers (id INT, name VARCHAR(255), email VARCHAR(255));

# DROP: Used to delete a database object.
# Example: DROP TABLE customers;

# ALTER: Used to modify the structure of a database object.
# Example: ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

# TRUNCATE: Used to delete all rows from a table, while preserving the table structure.
# Example: TRUNCATE TABLE customers;

In [5]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
 # DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate and manage data in a database.

In [7]:
# INSERT: Used to add new data to a table.
# Example: INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'johndoe@example.com');

# This command inserts a new row into the customers table with the specified values.

# UPDATE: Used to modify existing data in a table.
# Example: UPDATE customers SET email = 'jane Doe@example.com' WHERE name = 'Jane Doe';

# This command updates the email column for the row where name is 'Jane Doe' in the customers table.

# DELETE: Used to delete data from a table.
# Example: DELETE FROM customers WHERE id = 1;

In [8]:
# Q4. What is DQL? Explain SELECT with an example.

In [9]:
# DQL stands for Data Query Language, which is a set of SQL commands used to retrieve and manipulate data in a database.

In [10]:
# SELECT Statement
#     Retrieves data from a database table
#     Example: SELECT * FROM customers WHERE country='USA';
# Breakdown:
#     SELECT *: Retrieves all columns
#     FROM customers: Specifies the table
#     WHERE country='USA': Filters results to only include rows where country is 'USA'
# Can also specify specific columns to retrieve, e.g. SELECT name, email FROM customers WHERE country='USA';

In [11]:
# Q5. Explain Primary Key and Foreign Key.

In [12]:
# Primary Key (PK)
# Uniquely identifies each row in a table
# Must be unique and non-null
# Cannot be changed once inserted

# Foreign Key (FK)
# References the primary key of another table
# Establishes relationships between tables
# Values must match the referenced primary key
# Example

# customers table: customer_id (PK)
# orders table: customer_id (FK) references customer_id (PK) in customers table

In [13]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [18]:
import mysql.connector

In [20]:
# connection = mysql.connector.connect(
#     host='localhost',
#     user='dipakbishwas08 ',
#     password='password'
# )

# cursor() method

# Creates a cursor object, which is used to execute SQL queries and retrieve results from the database.
# Think of it as a pointer that moves over the result set.

# execute() method
# Executes a SQL query using the cursor object.
# Takes a string argument, which is the SQL query to be executed.

In [21]:
# Q7. Give the order of execution of SQL clauses in an SQL query.