In [1]:
# Q1. List any five functions of the pandas library with execution.
# Ans:
#     1. head()
#     2. describe()
#     3. dtypes
#     4.iloc
#     5.loc

In [2]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

In [4]:
def reindex_dataframe(df):
    new_index = list(range(1,2*len(df)+1,2))
    df.index = new_index
    return df

In [5]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

In [8]:
df = pd.DataFrame(data)

In [9]:
df_reindexed = reindex_dataframe(df)

In [10]:
df_reindexed

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [11]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.

In [35]:
import logging
logging.basicConfig(filename='result.log', level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
def sum(df2):
    if len(df) < 3:
        return
    sum_values = df['values'].iloc[:3].sum()
    logging.info("Sum of the first three values: %s", sum_values)

In [36]:
data = {
    'values': [10, 20, 30, 40, 50]
}

In [37]:
df = pd.DataFrame(data)
sum(df)

In [34]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [47]:
def count_word(df3):
    df3['word_count'] = df3['Text'].apply(lambda x : len(str(x).split()))
    logging.info("DataFrame with Word_Count column added:\n%s", df3)
    return df3

In [48]:
data = {
    'Text': [
        'Hello world',
        'Pandas is a powerful data analysis library',
        'Python is great for data science',
        'This is an example'
    ]
}

In [49]:
df3 = pd.DataFrame(data)

In [50]:
df3 = count_word(df3)

In [51]:
df3

                                         Text  word_count
0                                 Hello world           2
1  Pandas is a powerful data analysis library           7
2            Python is great for data science           6
3                          This is an example           4

In [52]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [53]:
# Ans:
#     size: Provides the total number of elements (cells) in the DataFrame.
#     shape: Provides the dimensions of the DataFrame in the form of a tuple (rows, columns).

In [54]:
df3 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [55]:
logging.info(df3.size)

In [57]:
df4 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [59]:
logging.info(df4.shape)

In [60]:
# Q6. Which function of pandas do we use to read an excel file?
# ans: read_excel()

In [61]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
# The username is the part of the email address that appears before the '@' symbol. For example, if the
# email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
# function should extract the username from each email address and store it in the new 'Username'
# column.

In [63]:
def exct_username(df5):
    df5['Username'] = df5['Email'].str.split('@').str[0]
    return df5

In [65]:
data = {
    'Email': [
        'john.doe@example.com',
        'dipak.smith@example.org',
        'kumaar3@example.net'
    ]
}

In [66]:
df5 = pd.DataFrame(data)

In [68]:
df5 = exct_username(df5)

In [69]:
logging.info(df5)

In [71]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
# For example, if df contains the following values:
# A B C
# 0 3 5 1
# 1 8 2 7
# 2 6 9 4
# 3 2 3 5
# 4 9 1 2
# Your function should select the following rows: A B C
# 1 8 2 7
# 4 9 1 2
# The function should return a new DataFrame that contains only the selected rows.

In [79]:
def filter_rows(df6):
    filtered_df = df6[(df6['A'] > 5) & (df6['B'] < 10)]
    return filtered_df

In [80]:
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

In [83]:
df6 = pd.DataFrame(data)

In [84]:
filtered_df = filter_rows(df6)

In [85]:
logging.info(filtered_df)

In [86]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

In [106]:
import pandas as pd
import logging

logging.basicConfig(filename='data_analysis.log', level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def calculate_statistics(df):
    if 'Values' not in df.columns:
        logging.error("Column 'Values' does not exist in the DataFrame.")
        return

    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()
    
    logging.info(f"Mean of 'Values': {mean_value}")
    logging.info(f"Median of 'Values': {median_value}")
    logging.info(f"Standard Deviation of 'Values': {std_dev_value}")
    
    return mean_value, median_value, std_dev_value

data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

mean, median, std_dev = calculate_statistics(df)

logging.info(f"Mean: {mean}, Median: {median}, Standard Deviation: {std_dev}")

In [107]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

In [108]:
def calculate_moving_average(df8):
    df8['Date'] = pd.to_datetime(df8['Date'])  
    df8 = df8.sort_values('Date')
    df8['MovingAverage'] = df8['Sales'].rolling(window=7, min_periods=1).mean()
    return df8

In [109]:
data = {
    'Date': [
        '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
        '2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08',
        '2024-07-09', '2024-07-10'
    ],
    'Sales': [200, 220, 250, 270, 300, 320, 350, 370, 390, 410]
}

In [110]:
df8 = pd.DataFrame(data)

In [112]:
df8 = calculate_moving_average(df8)

In [113]:
logging.info(df8)

In [114]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
# For example, if df contains the following values:
# Date
# 0 2023-01-01
# 1 2023-01-02
# 2 2023-01-03
# 3 2023-01-04
# 4 2023-01-05
# Your function should create the following DataFrame:

# Date Weekday
# 0 2023-01-01 Sunday
# 1 2023-01-02 Monday
# 2 2023-01-03 Tuesday
# 3 2023-01-04 Wednesday
# 4 2023-01-05 Thursday
# The function should return the modified DataFrame.

In [115]:
def add_weekday_column(df9):
    df9['Date'] = pd.to_datetime(df9['Date'])
    df9['Weekday'] = df9['Date'].dt.day_name()
    return df9

In [116]:
data = {
    'Date': [
        '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'
    ]
}

In [117]:
df9 = pd.DataFrame(data)

In [118]:
df9 = add_weekday_column(df9)

In [119]:
logging.info(df9)

In [120]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [122]:
def filter_by_date_range(df10):
    df10['Date'] = pd.to_datetime(df10['Date'])
    
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    filtered_df = df10[(df10['Date'] >= start_date) & (df10['Date'] <= end_date)]
    
    return filtered_df

In [123]:
data = {
    'Date': ['2023-01-05', '2023-02-10', '2023-01-15', '2023-03-01'],
    'Value': [10, 20, 30, 40]
}

In [124]:
df10 = pd.DataFrame(data)

In [125]:
filtered_df = filter_by_date_range(df8)

In [126]:
logging.info(filtered_df)